@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "marlinge";
  src: url("../src/fonts/marlingeosq-medium-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "moon-bold";
  src: url("../src/fonts/Moon-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "moon-light";
  src: url("../src/fonts/Moon-Light.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "market-deco";
  src: url("../src/fonts/Market_Deco.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.border-stats {
  border-color: (--fallback-bc, oklch(var(--bc) / var(--tw-border-opacity)));
}
